@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

body{
  font-family: Instrument Sans;
}
.position-relative {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 10px;
  top: 50%;
  border:0px;
  background: transparent;
  transform: translateY(-50%);
  z-index: 2; /* Ensure the icon stays on top of the input */
}

.toggle-password i {
  font-size: 18px;
  color: #000;
}

#card-container {
}

.major-label{
  font-weight: bold;
  margin-bottom: 5px;
}

.card-field {
}

#card-number, #card-expiry, #card-cvc {
  background: white;
  width:100%!important;
  padding:20px;
  padding-left: 25px;
}

/* Card brand logo */
#card-brand {
  position: absolute;
  right: 10px;
  top: 35px;
  width: 30px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

#card-errors {
  margin-top: 10px;
  color: red;
  font-weight: bold;
}

@media (max-width: 768px) {
  #card-container {
    flex-direction: column;
    align-items: stretch;
  }
}

.navbar-dark{
  background: #000;
  min-height: 200px;
  color:#FFF;
  padding:20px;
}

.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar .top-section{
  margin-top:20px;
}


.navbar-dark .nav-item .border-right{
  border-right: 1px solid #66c010;
}

.navbar-dark .nav-item .nav-link{
  color:#FFF;
  border-right: 1px solid #66c010;
  padding-right: 45px;
  padding-left: 45px;
  font-weight: bold;
  transition: 0.3s;
  text-transform: uppercase;
}

.navbar-dark .nav-item .nav-link:hover{
  color: #66c010;
  transition: 0.3s;
}

.nav-item .dropdown-menu{
  background: rgba(0,0,0,0.6);
  color:#FFF;
}

.nav-item .dropdown-menu .dropdown-item{
  color:#FFF;
  font-size:15px;
  border-bottom: 1px solid #66c010;
  padding-bottom: 10px;
  padding-left: 30px;
}

.InputContainer{
  background: red!important;
}

.nav-item .dropdown-menu .exception{
  border-bottom: 1px solid transparent;
}

.nav-item .dropdown-menu .dropdown-item:hover{
  background: #000;
  text-decoration: underline;
}

.navbar-dark .social-links{
  float:left;
  margin-left: 10px;
  margin-right: 10px;
  text-transform: uppercase;
  font-size:20px;
  color:#FFF;
}

.navbar-dark .major-button{
  text-decoration: none;
  color:#FFF;
  background: #66c010;
  padding:12px;
  padding-left:25px;
  padding-right:25px;
  border-radius: 30px;
  margin-right: 10px;
  margin-left: 10px;
  text-transform: uppercase;
  font-size:13px;
}

.navbar-dark .nav-brand{
  width:350px;
}

.navbar-dark #bar-container{
  margin-top:auto;
  margin-bottom: auto;
}

.navbar-dark .join-button{
  text-decoration: none;
  color:#FFF;
  margin-left: 40px;
}

.navbar-dark .lang{
  float:right;
}

.navbar-expand-sm {
  flex-wrap: nowrap;
  justify-content:center!important;
}

.navbar-dark .dropdown #dropdownMenuButton{
  background: transparent;
  color:#FFF!important;
  border:0px;
  margin-top:-10px;
  padding:10px;
  padding-left: 17px;
  padding-right: 17px;
}

#header{
  background-color: #0e1a04;
}

#header #text-container{
  padding:40px;
  color:#FFF;
  margin-top: auto;
  margin-bottom: auto;
}

#header .main-image{
  width:100%;
}

#header .header-text{
  font-size:55px;
  font-weight: bold;
  width:100%;
  color:#FFF;
  width:80%;
}

#header .sub-text{
  color:rgba(255,255,255,0.9);
  font-size:15px;
  width:70%;
  margin-top:10px;
  margin-bottom: 20px;
  text-align: justify;
}

#header .main-btn{
  padding:16px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  color:#FFF;
  background:#66c010;
  font-size:15px;
  border-radius: 30px;
}

#header .contact-btn{
  padding:16px;
  padding-left: 40px;
  padding-right: 40px;
  text-decoration: none;
  color:#000;
  background:#FFF;
  font-size:15px;
  margin-left: 30px;
  border-radius: 30px;
}

#checkout-header{
  padding:100px;
  height: 50vh;
  background: #0e1a04;
}

#checkout-header .header-text{
  color:#FFF;
  font-weight: bold;
  font-size: 60px;
  margin-top: 30px;
}

#semi-header{
}

#semi-header #background-container{
  background: #f0f0f0;
  padding:40px;
  padding-top:40px;
  padding-bottom: 40px;
}

#semi-header #main-container{
  padding:25px;
  background: #FFF;
  border-left: 10px solid #f0f0f0;
  border-right:10px solid #f0f0f0;
  border-radius: 30px;
}

#semi-header .header{
  font-size:50px;
  font-weight: bold;
  text-transform: uppercase;
  color:#66c010;
  width:60%;
}

#semi-header #main-container .main-text{
  font-size: 20px;
  color:#000000;

  font-weight: bold;
}

#semi-header #main-container .main-image{
  margin-left: auto;
  margin-right: auto;
  display:block;
}

#semi-header #main-container .icon-image{
  height: 60px;
  max-height: 50px;
  margin-bottom: 25px;
  margin-top:10px;
}

#semi-header #background-container .sub-text{
  font-size:17px;
  width:60%;
  margin-top:20px
}

#portal-intro{
  background: #f0f0f0;
}

#portal-intro .main-image{
  width:100%;
  padding:100px;
  object-fit: cover;
}

#portal-intro #text-container{
  margin-top:auto;
  margin-bottom:auto;
  padding:100px;
}

#portal-intro .header-text{
  font-size:60px;
  font-weight: 600;

  margin:0px;
  padding:0px;
  margin-top:15px;
  margin-bottom: 15px;
}

#portal-intro .mini-text{
  font-size:15px;
  margin:0px;
}

#portal-intro .main-text{
  font-size:35px;
  font-weight: bolder;
}

#portal-intro .sub-text{
  width:90%;
  font-size: 17px;
  color:#556375;
  margin-bottom: 30px;
}

#portal-intro .main-btn{
  padding:15px;
  padding-left: 60px;
  padding-right: 60px;
  background: #365e0f;
  margin-top:20px;
  color:#FFF;
  text-decoration: none;

  font-weight: 600;
}

#background-section{
  height: 40vh;
  background: #0e1a04;
  color:#FFF;
  padding:50px;
}

#background-section .header-text{

  font-size: 45px;
}

#background-section .sub-text{
  width:75%;
  font-size: 17px;
  margin-top:20px;
  color:rgba(255,255,255,0.6);
}

#horizontal-list{
  background: #ececec;
  min-height: 100vh;
  padding:50px;
}

#horizontal-list .major-text{

  font-size: 50px;
  margin-bottom: 30px;
}

#horizontal-list .header-text{

  border-bottom:1px solid #000;
  padding-bottom: 3px;
}

#horizontal-list .sub-text{
  width:80%;
}

#horizontal-list .main-btn{
  font-size:25px;

  float:left;
  margin-bottom: 50px;
}

#horizontal-list .main-image{
  width:100%;
  max-height: 200px;
  object-fit: cover;
}

#horizontal-image{
  min-height: 70vh;
  background: #ececec;
  padding:100px;
}

#horizontal-image .header-text{

  margin-top:10px;
  font-size: 20px;
}

#horizontal-image .main-image{
  width:100%;
  padding:20px;
}

#purchasing{
  padding:80px;
  padding-top:30px;
  background: linear-gradient(135deg, #0e1a04 90%, #66c010 10%);
  color:#FFF;
}

#purchasing .main-image{
  width:70%;
}

#purchasing .header-text{
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: bold;
}

#purchasing .main-text{
  font-size: 20px;
  margin-top:10px;
  font-weight: bold;
}

#purchasing .icon-one{
  height: 60px;
  width: 60px;
}

#purchasing .simple-link{
  text-decoration: none;
  color:#66c010;
}

#semi-structure{
}

#semi-structure .main-image{
  width:100%;
  height: 500px;
  object-fit: cover;
}

#semi-structure #text-container{
  padding:50px;
  margin-top:auto;
  margin-bottom:auto;
}

#semi-structure .header-text{
  font-size:55px;
  font-weight: 600;
  margin:0px;
  color:#66c010;
  padding:0px;
}

#semi-structure .mini-text{
  font-size:15px;
  margin:0px;
}

#semi-structure .sub-text{
  width:90%;
  font-size: 15px;
  color:rgba(0,0,0,.6);
  margin-bottom: 20px;
}

#semi-structure .main-btn{
  padding:15px;
  padding-left: 60px;
  padding-right: 60px;
  background: #365e0f;
  color:#FFF;
  text-decoration: none;
  border-radius: 30px;
}

#intersection{
  min-height: 30vh;
  padding:70px;
  background: #365e0f;
  color:#FFF;
}

#intersection .header-text{

  margin-bottom: 20px;
  text-transform: uppercase;
}

#intersection .main-btn{
  padding:13px;
  padding-left: 60px;
  padding-right: 60px;
  background:#FFF;
  color:#000;
  text-decoration:none;
  border-radius: 30px;
}

#intersection .header-text{
  font-size:50px;
}

#intersection .sub-text{
  font-size:17px;
}

#services {
  padding:10px;
}

#services #major-container{
  border-top:1px solid #66c010;
  border-bottom:1px solid #66c010;
  padding:20px;
}

#services .header-text{

  text-transform: uppercase;
  font-weight: bold;
  font-size:25px;
}

#services .sub-text{
  margin-left: 20px;
  width:70%;
}

#services .main-image{
  width:100%;
  height: 500px;
}

#team{
  padding:100px;
}

#team #profile-container{
  background:#0e1a04;
  margin-left: 50px;
  margin-right: 50px;
  padding:0px;
}

#team .main-image{
  width:100%;
  height: 300px;
}

#team .header-text{
  color:#FFF;
  padding-left: 30px;

  margin-top:19px;
}

#team .sub-text{
  color:#FFF;
  padding-left: 30px;
  margin:0px;
  text-transform: uppercase;
}

#team .par-text{
  color:#e8e8e8;
  padding-left: 30px;
  margin-top:3px;
  width:90%;
  font-size: 12px;
  margin-bottom: 60px;
}

#main-resources{
  padding-top:100px;
  padding-bottom: 100px;
  background: #ececec;
}

#main-resources #list-container{
  background:#FFF;
  padding:0px;
  margin-left: 30px;
  margin-right: 30px;
}

#main-resources .main-image{
  width:100%;
}

#main-resources .header-text{
  margin-left: 30px;
  margin-top:20px;
}

#main-resources .main-text{
  margin-left: 30px;
  font-weight: bold;

  margin-top:20px;
  margin-bottom: 20px;
}

#main-resources .sub-text{
  margin-left: 30px;
  margin-bottom: 30px;
}

#main-resources .main-btn{
  text-decoration: none;
  background: #66c010;
  color:#FFF;
  padding:15px;
  padding-left: 85px;
  padding-right: 85px;
}

#services{
  padding:20px;
}

#services #main-container{
  margin-bottom: 20px;
}

#services #main-container .main-link{
  text-decoration: none;
}

#services #main-container #main-image{
  width:100%;
  border-radius: 15px;
}

#services #main-container .header-text{
  color:#000;
  font-family: Lato;
  margin-top:20px;
  text-transform: none!important;
  font-weight: normal;
}

#pricing{
  padding:100px;
  background: #ececec;
}

#pricing .btn-wrapper{
  background: #ffffff;
  padding:15px;
  padding-left: 0px;
  padding-right: 0px;
  border-radius: 30px;
}

#pricing #package-btn{
  text-decoration: none;
  color:#FFF;
  background: #66c010;
  padding:15px;
  padding-left: 40px;
  padding-right: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin:0px;
}

#pricing #package-btn-d{
  text-decoration: none;
  color:#FFF;
  background: #66c010;
  padding:15px;
  padding-left: 40px;
  padding-right: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin:0px;
}

#pricing #service-btn-d{
  text-decoration: none;
  color:#000;
  background: #FFF;
  padding:15px;
  padding-left: 40px;
  padding-right: 40px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  margin:0px;
}

#pricing #service-btn{
  text-decoration: none;
  color:#000;
  background: #FFF;
  padding:15px;
  padding-left: 40px;
  padding-right: 40px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  margin:0px;
}

#pricing #general-container{
  height: 90vh;
  background: #FFF;
  margin-bottom:50px;
}

#pricing #top-container .logo-image{
  width:100%;
  height: 15vh;
  padding:10px;
  float:right;
}

#pricing #top-container .header-text{
  font-size:30px;
  color:#FFF;
  margin-top:35px;
  margin-left: 30px;
  float:left;
}

#pricing #top-container{
  height: 15vh;
  background: #000;
}

#pricing #text-container{
  height: 75vh;
  padding:30px;
}

#pricing #text-container .main-btn{
  padding:12px;
  padding-left:35px;
  padding-right: 35px;
  background: #66c010;
  text-decoration: none;
  color:#FFF;
  border-radius: 10px;
  float:left;
  marign-top:20px;
  display: inline-block;
}

#pricing #text-container .sub-text{
  font-size:13px;
}

#pricing #text-container .point-text{
  font-size: 13px;
}

#pricing #text-container #main-btn{
  padding:12px;
  padding-left:35px;
  padding-right: 35px;
  background: #66c010;
  text-decoration: none;
  color:#FFF;
  border-radius: 10px;
  float:right;
  marign-top:35px;
}

#pricing #text-container .price{

  font-size:45px;
}

#pricing #image-container{
  height: 75vh;
  padding:0px;
}

#pricing #image-container .main-image{
  width:100%;
  height: 75vh;
  object-fit: cover;
}

#faq{
  padding:30px;
}

/* Remove background color */
#faq .accordion-item {
  border:0px;
}

#faq .accordion-button {
    font-size:15px;
}

/* Remove the border and outline */
#faq .accordion-button {
    font-size: 15px;
}

/* Remove the background color and border on collapse */
#faq .accordion-button:not(.collapsed) {
    color:#000;
    background: #c3cfb7;
    border-bottom: 1px solid #FFF;
}

/* Remove borders and background for the accordion body */
#faq .accordion-body {
    background-color: transparent;
    border: none;
    background: #c3cfb7;
}

/* Remove box-shadow and outline when focused or active */
#faq .accordion-button:focus {
    box-shadow: none;
    outline: none;
}

#checkout{
  padding:60px;
  background:#ececec;
}

#checkout .header-text{

}

#checkout .sub-text{
  width:70%;
}

#checkout .form-group{
  margin-bottom: 20px;
}

#checkout .main-text{
  text-transform: uppercase;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
}

#checkout .form-control{
  border-radius: 0px;
  padding:10px;
  padding-left: 25px;
}

#checkout .top-text{
  text-transform: uppercase;
}

#checkout #form-container{
  padding:50px;
  padding-right: 80px;
  padding-top:0px;
}

#checkout #final-checkout{
  background: #29450e;
  height: 370px;
  padding:50px;
  border-radius: 10px;
  color:#FFF!important;
}

#checkout .main-btn{
  text-decoration: none;
  background-color:#66c010;
  color:#FFF;
  padding:15px;
  padding-left: 70px;
  padding-right: 70px;
  float:inherit;
  border-radius: 7px;
  border:0px;
}

#checkout #final-checkout .terms{
  margin-top:20px;
  align:center;
  text-transform: uppercase;
  font-size:12px;
  color:#FFF;
  font-weight: bold;

}

#checkout .main-link{
  color:#66c010;
}

#checkout #price-box{
  background: #FFF;
  border:2px solid #66c010;
  padding:30px;
  margin-top:50px;
}

#checkout #price-box .right-bold{
  font-weight: bold;
  float:right;
  font-size: 16px;
}

#checkout #price-box .main-text{
  font-size:16px;
}

#video-container{
  background: #ececec;
  min-height: 60vh;
}

#video-container #main-box{
  background: #FFF;
  padding:50px;
}

#video-container #main-container{
  background: #FFF;
  padding-right: 20px;
  margin-bottom: 30px;
}

#video-container .header-text{

}

#video-container .sub-text{

}

#contact-top{
}

#contact-top #padding-main{
  padding-top:20px;
}

#contact-top .major-container{
  border-radius: 30px;
}

#contact-top #main-container{
  padding:30px;
  background: #000;
}

#contact-top #main-container .header-text{
  color:#FFF;

  font-size: 45px;
}

#contact-top #main-container .sub-text{
  font-size:18px;
  color:#FFF;
}

#contact-top #general-container{
  padding:100px;
  background: #000;
}

#contact-top #general-container #inner{
  background: #cdcdcd;
  margin-top: 100px;
  padding:30px;
}

#contact-top #general-container #inner .header-text{
  font-size:25px;
  font-weight: bold;
}

#contact-top #form-container{
  background:#f0f0f0;
  padding:50px;
  color:#FFF;
}

#contact-top #form-container .form-group{
  margin-bottom: 20px;
}

#contact-top #form-container .sub-texted{
  color:#000;
}

#contact-top #form-container .main-btn-2{
  border:0px;
  padding:15px;
  width:200px;
  text-align: center;
  margin-left: 15px;
  background: #66c010;
  color:#FFF;
  border-radius: 30px;
}

#contact-top .main-image{
  width:300px;
  margin-top:50px;
}

#contact-bottom{
  padding:100px;
  background: #f0f0f0;
}

#contact-bottom #main-box{
  background: #FFF;
  padding:50px;
  border-left: 10px solid #f0f0f0;
  border-right: 10px solid #f0f0f0;
  border-radius: 30px;
}

#contact-bottom .header-text{
  font-size:25px;

  margin-top:10px;
  margin-bottom: 10px;
}

#contact-bottom #main-icon{
  font-size:35px;
}

#success-container{
  padding:100px;
}

#success-container #panel{
  background: #0e1a04;
  height: 400px;
  padding:50px;
  padding-top:100px;
  border-radius: 30px;
}

#success-container .header-text{
  color:#FFF;
  text-transform: uppercase;

}

#success-container .sub-text{
  color:#FFF;
  width:70%;
}

#success-container .main-btn{
  padding:10px;
  padding-left: 30px;
  padding-right: 30px;
  background: #66c010;
  text-decoration: none;
  color:#FFF;
  border-radius: 20px;
}

#about-primary{
}

#about-primary .main-image{
  width:100%;
  height: 600px;
  object-fit: cover;
}

#about-primary #text-container{
  padding:50px;
  margin-top:auto;
  margin-bottom:auto;
}

#about-primary .header-text{
  font-size:50px;
  font-weight: 600;
  color:#66c010;
  margin:0px;
  padding:0px;
  margin-top:15px;
  margin-bottom: 15px;
  text-transform: uppercase;
}

#about-primary .mini-text{
  font-size:15px;
  margin:0px;
}

#about-primary .sub-text{
  width:90%;
  font-size: 16px;
  color:#556375;
  margin-bottom: 30px;
}

#about-primary .main-btn{
  padding:15px;
  padding-left: 60px;
  padding-right: 60px;
  background: #365e0f;
  margin-top:20px;
  color:#FFF;
  text-decoration: none;
  border-radius: 30px;
}

#about-primary .bold{
  font-weight: bold;

}

#about-primry .bullet-text{
  width:70%;
}

#about-secondary{
  padding:0px;
}

#about-secondary .header-text{
  font-size:30px;

  text-decoration:underline;
  margin-left: 50px;
}

#about-secondary .sub-text{
  width:80%;
  float:left;
  margin-left: 50px;
}



#about-secondary #image-container{
  padding:0px;
}

#about-secondary #text-container{
  padding:0px;
  margin-top:auto;
  margin-bottom: auto;
}

#about-secondary #image-container .main-image{
  width:100%;
  height: 450px;
  object-fit: cover;
}

#about-vision{
  background: #365e0f;
  color:#FFF;
  padding:30px;
}

#about-vision .major-text{
  font-size:40px;
  text-transform: uppercase;
  font-weight: bold;
}

#about-vision .par-text{
  font-size: 18px;
}

#about-vision .header-text{
  font-size:29px;
  font-weight: bold;
  margin-top:10px;
}

#about-vision #main-box{
  background: rgba(255,255,255,.7);
  border-left: 20px solid #365e0f;
  padding:30px;
  color:#000;
  margin-bottom: 20px;
  margin-top:20px;
}

#footer{
  background: #050505;
  color:#FFF!important;
  padding:35px;
}

#footer .sub-text{
  margin:0px;
  font-size: 12px;
  padding:2spx;
}

#footer .header-text{
  font-size:20px;

}

#footer #main-icon{
  font-size:29px;
}

#footer .social-icons{
  float:center;
  color:#FFF;
  margin-left: 10px;
  margin-right: 10px;
  text-decoration: none;
}

#footer .main-link{
  color:#FFF;
  text-transform: uppercase;
  font-size: 10px;
  display: block;
  margin-top:70px;
}

#footer .on-top{
  text-decoration: none;
  color:#FFF;
  float:right;
  font-size: 13px;
  text-transform: uppercase;
}

#footer .link-container{

}

#footer .link-container .main-link{
  float:left;
  margin-left: 20px;
  margin-right: 20px;
}

#contact-field{
  padding:20px;
}

#contact-field #main-container{
  background: #365e0f;
  border-radius: 40px;
  background: url("https://cdn.prod.website-files.com/68009d4aaf8d941819fcc401/685813492147ea7578a55f81_text-container.png");
  background-size: cover;
  background-position: center;
}

#contact-field #main-container #background-wrapper{
  height: 100%;
  width:100%;
  border-radius: 40px;
  padding:50px;
  background: rgba(54, 94, 15,.7);
}

#contact-field .header-text{
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size:45px;
  font-weight: bold;
  color:#FFF;
}

#contact-field .main-btn{
  padding:13px;
  padding-left: 60px;
  padding-right: 60px;
  background:#FFF;
  color:#000;
  text-decoration:none;
  border-radius: 30px;
}

#contact-field .sub-text{
  font-size:17px;
  width:60%;
  color:#FFF;
}


@media (max-width: 992px) {
  .join-button{
    display: block;
    margin-top:30px;
  }

  .navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='%23ffffff' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }

  .major-button{
    display: block;
    margin-top:10px;
  }

  .social-wrapper{
    display: block;
    margin-top:10px;
  }

  .navbar-dark .social-links{
    float:none;
    margin-bottom: 0px;
    text-decoration:none;
  }

  .navbar-dark .nav-brand{
    display: block;
  }

  #header{
    padding:0px;
  }

  #header #background-container #wrapper-opacity{
    padding:10px;
  }

  #header #background-container .header-text{
    padding-top:50px;
    font-size:30px;
  }

  #header #background-container .sub-text{
    font-size:17px;
    width:90%;
  }

  #about-vision{
    padding:20px;
  }

  #faq{
    padding:20px;
  }

  #faq .accordion-button{
    font-size:15px;
  }


  #header #background-container .main-btn{
    padding-left: 30px;
    padding-right: 30px;
    font-size:15px;
  }

  #semi-header #background-container{
    padding:10px;
    padding-top:50px;
  }

  #semi-header #background-container .sub-text{
    width:80%;
  }

  #semi-header #main-container{
    padding:10px;
    padding-top:50px;
    margin-bottom: 10px;
  }

  #semi-header .header{
    font-size:30px;
  }

  #semi-structure .main-image{
    height: 300px;
    object-fit: cover;
  }

  #background-section{
    padding:40px;
  }

  #background-section .header-text{
    font-size:30px;
  }

  #background-section .sub-text{
    font-size:15px;
    width:100%;
  }

  #services{
    padding:20px;
  }

  #pricing{
    padding:10px;
    padding-top:40px;
  }

  #pricing #general-container{
    height: auto;
    padding-bottom:250px;
  }

  #pricing #top-container .main-image{
    width:30px;
  }

  #pricing #top-container .logo-image{
    width:100px!important;
    height: inherit!important;
    float:right;
  }

  #contact-top{
    min-height: 70vh;
  }

  #contact-top #main-container{
    padding:10px;
  }

  #contact-top #general-container{
    padding:20px;
  }

  #contact-top .video-container{
    width:100%;
  }

  #contact-bottom{
    padding:10px;
  }

  #contact-bottom #main-box{
    margin-bottom: 20px;
  }

  #intersection{
    padding:20px;
  }

  #about-primary .main-image{
    width:100%;
    height: 300px;
    object-fit: cover;
  }

  #purchasing{
    padding:10px;
  }

  #purchasing .main-image{
    width:100%;
  }

  #purchasing .icon-one{
    margin-top:15px;
  }

  #checkout-header .header-text{
    font-size:25px;
  }

  #checkout{
    padding:5px;
  }
}
